{% extends 'ATMOrderTrackerBundle:Admin:base.html.twig'%}

{% block atm_ot_content %}
    <div class="country_tabs">
        <table>
            <tr>
                {% for l in 'A'..'Z' %}
                    <td>
                        <a href="{{ path('atm_ot_manage_countries',{ 'letter':l }) }}" {{ letter == l ? 'style="font-weight:bold"' }}>{{ l }}</a>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <table id="tblCountries">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Phone Number</th>
                <th>Hidden</th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
                <tr>
                    <td>
                        {{ country.name }}
                    </td>
                    <td>
                        {{ country.code }}
                    </td>
                    <td>
                        {{ country.phoneCode }}
                    </td>
                    <td>
                        {{ country.hidden ? ('<i data-country-id="'~ country.id ~'" class="fa fa-check"></i>')| raw : ('<i data-country-id="'~ country.id ~'" class="fa fa-times"></i>')| raw }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock atm_ot_content %}

{% block atm_ot_javascripts %}
    <script>
        $('.fa').click(function(){
            var btn = $(this);
            var countryId = btn.attr('data-country-id');

            $.ajax({
                url: Routing.generate('atm_ot_manage_countries_visibility',{ 'countryId':countryId }),
                type: 'post',
                success: function(data){
                    if(data == 1){
                        btn.removeClass('fa-times').addClass('fa-check');
                    }else{
                        btn.removeClass('fa-check').addClass('fa-times');
                    }
                }
            });
        });
    </script>
{% endblock atm_ot_javascripts %}