{% extends 'ATMOrderTrackerBundle:Admin:base.html.twig'%}


{% block atm_ot_content %}
    {% include 'ATMOrderTrackerBundle:Admin:filters.html.twig' with {
        'initDateTokens':initDateTokens,
        'endDateTokens':endDateTokens,
        'yearsFilter':yearsFilter,
        'initPeriod':initPeriod,
        'endPeriod':endPeriod,
        'sent' : 0,
        'userId' : userId,
        'onlyGifts': 0
    } %}
    <div class="wide" style="display:block">
        <div class="stats">

            <div id="purchasesContainer">
                {{ render(controller('ATMOrderTrackerBundle:Admin:searchPurchases',{
                    'initDate' : null,
                    'endDate' : null,
                    'sent': null,
                    'page': page,
                    'userId' : userId
                })) }}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock atm_ot_content %}

{% block atm_ot_javascripts %}
    {{ parent() }}
    <script>
        $('.set_as_sent').click(function(){
            var purchaseId = $(this).attr('data-purchase-id');

            $('#frmPurchaseSent').attr('action',Routing.generate('atm_ot_purchase_set_send',{ 'purchaseId':purchaseId }));
            $('#txRedirectUrl').val(Routing.generate('atm_ot_historical',{ 'userId':{{ userId }},'page':{{ page }} }));
            $('#popPurchaseSent').modal('show');
        });

        $('#_chk_gifts').change(function(){
            let onlyGifts = $(this).is(':checked') ? 1 : 0;
            location.href = Routing.generate('atm_ot_historical',{ 'userId':'{{ userId }}', 'onlyGifts': 0 });
        });
    </script>
{% endblock atm_ot_javascripts %}