{% if purchases | length > 0 %}
    <table>
        <thead>
            <tr>
                <th>
                    Send Date
                </th>
                <th>
                    Order Date
                </th>
                <th>
                    User
                </th>
                <th>
                    Gifted To
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                {% include 'ATMOrderTrackerBundle:Admin/item:purchase.html.twig' with { 'purchase' : purchase } %}
            {% endfor %}
        </tbody>
    </table>
    {% if pagination is not null %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% else %}
    <div class="no_results">No purchases to show</div>
{% endif %}