*{margin:0;padding:0}
html,body{height:100%}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none}
body{font:15px/24px Quicksand, sans-serif;color:#000;background:#f9f6f6;cursor:default;text-align:center}
body.newTour{font:15px/24px "Quicksand", sans-serif}
body.white{background:#FFF}
table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal}
table,td,th{vertical-align:middle}
blockquote::before,blockquote::after,q::before,q::after{content:""}
blockquote,q{quotes:"" ""}
a img, button{outline:none;border:0;background:none}
a{outline:0 none;text-decoration:none;color:#000}
a *{cursor:pointer}
a:focus,a:hover{text-decoration:none;outline:0 none;cursor:pointer}
.clear{clear:both}
.over{overflow:hidden;height:0}
ul,li,ol,li,b,img,p,a,h1,h2,h3,h4,h5{float:left;display:inline-block;text-align:left}
input,textarea{display:inline-block;text-align:left}
[data-sr]{visibility:hidden}
.fa-heart, .red{color:#ff558f}
*, *::after, *::before, *:hover{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
select{-webkit-appearance:none;-moz-appearance:none;text-overflow:'';text-indent:1px}
.sorting select::-ms-expand{display:none}
.sorting select{-webkit-appearance:none;-moz-appearance:none;text-overflow:'';text-indent:1px}
.small{font-size:0.8rem !important}
.right{float:right}
.left{float:left}
.center{text-align:center}
.x2{font-size:1.3rem}
.x3{font-size:2.5rem}
.flex{display:flex;align-items:center;justify-content:space-between}
.b{font-family:QuicksandBold, Arial, sans-serif}
.latobold{font-family:LatoBold, Arial, sans-serif}

.selectC{position:relative;display:inline-block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-khtml-border-radius:4px;border:1px solid #ccc;width:auto;font:500 12px/22px Open Sans, Arial, sans-serif;cursor:pointer;position:relative}
.selectC select{display:inline-block;border:0;background:none;color:#000;padding:6px 37px 7px 8px;z-index:2;position:relative;font-size:12px;cursor:pointer;line-height:14px;white-space:nowrap;font-family:"Quicksand", "Open Sans", sans-serif}
.selectC::before{z-index:1;content:"";width:25px;height:27px;position:absolute;right:0;top:0;background:url(../images/caret_down.svg) no-repeat center center;border-left:1px solid rgba(0, 0, 0, 0.31);background-size:12px}

.content        {width:100%;max-width:1300px;min-height:100%}
.wide 	        {width:100%}
.narrow	        {width:95%;max-width:1000px;margin:0 auto}
.half           {width:50%;float:left}
.threequarter   {width:75%;float:left}
.quarter        {width:25%;float:left}
.third			{width:33.33%;float:left}
.twothird		{width:66.66%;float:left}
.smallfifth     {width:20%;float:left}
.longfifth      {width:80%;float:left}
.fifth			{width:20%;float:left}

a.but, input.but{background: #e8e8e8;padding: 6px 10px;border-radius: 7px;color: #000;border-bottom: 1px solid rgba(0, 0, 0, 0.2);font-size: 1rem;cursor: pointer}
a.but.blue, input.but.blue, .blue{background:#2196f3 !important;color:#FFF !important}
input.but.red, a.but.red{background: #ff390d !important;color:#FFF}
a.but.following{border:2px solid #ff558f;background:none;color:#ff558f;font-size:13px}
a.but.following:hover{background:#ff558f;color:#FFF}
.but.dark{background:#777 !important}
.but.dark:hover{background:#777676}
a.but.inactive{background: #a9a9a9;border: 0;color: #000}


.inner {float:none;width:100%;margin: 0 auto 0;position:relative;display:inline-block;padding: 0;z-index: 1;max-width: 1100px}

.datePicker{background:#e2e2e2;float:left;margin: 0 0 20px;border: 1px solid #b3a5a5;}
.datePicker>.half{margin:20px 0;padding:20px 0}
.datePicker>.half:last-child{border-left:2px solid #8e8e8e}
.datePicker .selectC{background:#f7f5f3}
.datePicker .selectC:hover{background:#FFF}
.butPeriod{background:#f7f5f3;border:1px solid #d0d0d0;padding:3px 10px;border-radius:5px;margin:0 1%;float:none;display:inline-block}
.butPeriod:hover{background:#FFF}
.butPeriod.active{background:#333;color:#FFF}
.centerBut a{float:none;margin:14px 0 0;font-size:14px;border:1px solid #bbb;color:#333;padding:1px 10px 0}
.centerBut a:hover{background:#FFF}
h2.block_title{margin:0 0 11px;padding:3px 7px;font:17px/19px 'QuicksandBold', sans-serif;float: left;width: 100%;}
.statsTitle{border-bottom:2px solid #333}
.statsTitle em{font-family:"Quicksand", "Open Sans", sans-serif}
.statsTitle>div:first-child{border-right:1px solid #ccc;float:left;padding:0 15px 0 0;margin:0 15px 10px 0}
.statsTitle>div{float:left}
.statsTitle>.right{font-size:18px;position:relative;bottom:0;margin-top:20px}
h2.block_title span{padding:0 7px;color:#000000;text-transform:capitalize}
.usersSelect{}
.usersSelect span{}

textarea{width:100%;resize:vertical;padding:5px;font-family:Arial}

/*Navigation*/
.navigation{float:left;margin:20px 0 0;width:100%;text-align:center}
.thumbs .navigation{width:100%;margin:0}
.pagination{display:inline-block;text-align:center;margin:0 auto}
.pagination span{float:left;display:inline-block;font:14px/33px "Quicksand",serif;margin:0 4px 0 0;overflow:hidden;border-radius:6px;border:1px solid #ccc;padding:0;width:35px;text-align:center}
.pagination span.last a{padding:0 10px}
.pagination span a{color:#000;padding:0;background:#f7f5f3;width:100%;text-align:center;float:left}
.pagination span a:hover{color:#000032;background:#ffffff}
.pagination span a.highlight, .pagination span a.highlight:hover, .pagination span.current{color:#000000;cursor:default;background:rgb(196, 229, 255)}

.atm_order_tracker .body{background-color: #fff;border: 1px solid #bdbdbd;padding: 10px;box-sizing: border-box;margin: 30px auto;}
.atm_order_tracker .body fieldset legend{font-weight: bold;width: 100%;text-align: left;margin-bottom: 10px;}
.atm_order_tracker .body form{margin: 10px auto;float: none;padding:10px;border-radius:5px}
.atm_order_tracker .body form h1,.promotools .body .advertisements h1{width:100%;text-align: center;font-size: 20px;margin-bottom: 20px;text-decoration: underline}
.atm_order_tracker .body form input[type="text"],.atm_order_tracker .body form input[type="email"], .promotools .body form textarea{border: 1px solid #acacac;padding: 5px;box-sizing: border-box;border-radius: 5px;width:100%;}
.atm_order_tracker .body form textarea{resize: vertical;min-height: 150px;}
.atm_order_tracker .body form input[type="submit"]{display: block;margin: 20px auto;}
.atm_order_tracker .body form fieldset{margin-bottom: 20px;}
.atm_order_tracker .body form fieldset.sizes{}
.atm_order_tracker .body form fieldset.sizes label{display: inline-block;width: 20%;float: left;text-align: left;line-height: 10px;}
.atm_order_tracker .body form fieldset.sizes label input[type="checkbox"]{float: left;}

#frmProduct{}
#frmProduct input[type="text"]{text-align: center}
#imgPreview{display: block;margin: 0 auto;float: none;width: 75%;}
#flImage{margin-top: 20px;}

.atm_order_tracker .body .title{width: 100%;text-align: center;font-size: 30px;margin: 20px 0;text-decoration: underline;}
.atm_order_tracker .body .products{padding:10px}
.atm_order_tracker .body .products .product{float: left;width: 20%;position: relative;margin-right: 3%;}
.atm_order_tracker .body .products .product img{width: 100%;}
.atm_order_tracker .body .products .product .data em{font-weight: normal;}
.atm_order_tracker .body .products .product .data span{font-weight: bold;}
.atm_order_tracker .body .products .product .delete_product{position:absolute;font-size: 20px;left: 5px;top: 5px;background-color: #fff;padding: 2px;color: #000;}
.atm_order_tracker .body .products .product .edit_product{position:absolute;font-size: 20px;right: 5px;top: 5px;background-color: #fff;padding: 2px;color: #000;}
.atm_order_tracker .body .products .product .stock{position:absolute;font-size: 20px;left: 100px;top: 5px;background-color: #fff;padding: 2px;color: #000;}

.atm_order_tracker #purchasesContainer .no_results{width: 100%;min-height: 200px;line-height: 200px;text-align: center;font-size: 20px;font-weight: bold;}
.atm_order_tracker #purchasesContainer table{width: 100%;}
.atm_order_tracker #purchasesContainer table thead tr th{padding:10px;text-align: center;font-weight: bold;border-bottom:1px solid #000}
.atm_order_tracker #purchasesContainer table tbody tr{background-color: #f1f1f1;}
.atm_order_tracker #purchasesContainer table tbody tr:nth-child(2n){background-color: #fff;}
.atm_order_tracker #purchasesContainer table tbody tr td{padding:10px;text-align:center}
.atm_order_tracker #purchasesContainer table tbody tr td a{display:inline-block;width:100%;text-align: center;}
.atm_order_tracker #purchasesContainer table tbody tr td.controls{width: 150px;}
.atm_order_tracker #purchasesContainer table tbody tr td.controls a{font-size: 18px;margin-left: 10px;width: auto;}

/*POPUP PURCHASE DETAILS*/
#popPurchaseDetails .purchase_details{}
#popPurchaseDetails .purchase_details h1{width: 100%;text-align: center;font-weight: normal;text-decoration: underline;}
#popPurchaseDetails .purchase_details ul{}
#popPurchaseDetails .purchase_details ul li{float:left;padding: 5px;width: 50%;background-color:#fff;text-align: center;font-weight: bold}
#popPurchaseDetails .purchase_details ul li span{font-weight: normal}
#popPurchaseDetails .purchase_details ul li:nth-child(2n){}
#popPurchaseDetails .purchase_details table{width: 100%;}
#popPurchaseDetails .purchase_details table thead tr th{padding: 5px;text-align: center;}
#popPurchaseDetails .purchase_details table tr{background-color: #fff;}
#popPurchaseDetails .purchase_details table tr:nth-child(2n){background-color:#e6e4e4}
#popPurchaseDetails .purchase_details table tr td{padding: 5px;font-weight: bold;text-align: center;}
#popPurchaseDetails .purchase_details table tr .total_label{text-align: right;font-weight: bold;}
#popPurchaseDetails .purchase_details table tr .total_price{text-align: center;font-weight: bold;}

.atm_order_tracker .menu{margin-bottom: 10px;}
.atm_order_tracker .menu ul li{margin-right: 15px;}
.atm_order_tracker .menu ul li a{display: block;width: 100%;font-weight: bold;}

#popPurchaseSent form{padding: 10px;}
#popPurchaseSent form img{width: 50%;display: inline-block;margin: 10px auto;float: none;}
#popPurchaseSent form input[type="file"]{display: inline-block;margin: 0 auto;}
#popPurchaseSent form input[type="submit"]{display: block;margin: 20px auto 0;}

/*POPUP DO PURCHASE*/
#popDoPurchase{}
#popDoPurchase .spend_points{text-align: left;padding: 10px;display: inline;position: absolute;left: 14px;top: 57px;}
#popDoPurchase .spend_points #user_points,#popDoPurchase .spent_points #user_spent{font-weight: bold;}
#popDoPurchase .spent_points{text-align: left;padding: 10px;display: inline;position: absolute;right: 18px;top: 57px;}
#popDoPurchase .modal-body .product{float: left;width: 48%;height: 100%;display: block;position: relative;margin: 0 1% 20px;box-sizing: border-box;}
#popDoPurchase .modal-body .product.selected{border: 3px solid #29b959;}
#popDoPurchase .modal-body .product img{width: 60%;}
#popDoPurchase .modal-body .product .data{padding: 5px;color: #000;width: 40%;float: left;height: 100%;display: inline-block;position: absolute;right: 0;border: 1px solid #aba5a5;background-color: #00000021;}
#popDoPurchase .modal-body .product .data span{display: block;width: 100%;text-align: left;}
#popDoPurchase .modal-body .product .data a{position: absolute;bottom: 2%;right: 5%;width: 90%;text-align: center;}
#popDoPurchase .modal-body .product .data .sizes h4{width: 100%;font-weight: bold;}
#popDoPurchase .modal-body .product .data .sizes label{display: block;float: left;margin-right: 5px;}
#popDoPurchase .modal-body .purchase_list{padding-right: 15px;left: 10px;}
#popDoPurchase .modal-body .purchase_list table{width: 100%;}
#popDoPurchase .modal-body .purchase_list table thead tr th{font-weight: bold;text-align: left;padding: 10px;}
#popDoPurchase .modal-body .purchase_list table tr td{padding: 10px;text-align: left;}
#popDoPurchase .modal-body .purchase_data{}
#popDoPurchase .modal-body .purchase_data fieldset .selectC{width: 100%;margin-bottom: 5px;text-align: left;}
#popDoPurchase .modal-body .purchase_data fieldset .selectC select{width:100%}
#popDoPurchase .modal-body .purchase_data fieldset input[type="text"],#popDoPurchase .modal-body .purchase_data fieldset input[type="email"]{width: 100%;margin-bottom: 5px;padding: 5px;border-radius: 5px;border: 1px solid #ccc;font-family: "Quicksand", "Open Sans", sans-serif;}
#popDoPurchase .modal-body .purchase_data fieldset textarea{width: 100%;padding: 5px;resize: vertical;min-height: 100px;border-radius: 5px;border: 1px solid #ccc;font-family: "Quicksand", "Open Sans", sans-serif;}

.country_tabs{width: 100%;margin-bottom: 20px;}
.country_tabs table{width: 100%;}
.country_tabs table tr td{min-width: 10px;text-align: center;}
.country_tabs table tr td a{display: block;width: 100%;text-align: center;}
#tblCountries{width: 100%;}
#tblCountries thead tr th{text-align: center;font-weight: bold;}
#tblCountries tbody tr{background-color: #fff;}
#tblCountries tbody tr:nth-child(2n){background-color: #7d7b7b38;}
#tblCountries tbody tr td{padding: 5px;text-align: center;}
#tblCountries tbody tr td i.fa{cursor: pointer;}
#tblCountries tbody tr td i.fa-times{color: #27ff00}
#tblCountries tbody tr td i.fa-check{color:#ff0000}


#popupAddPoints input{background-color: rgba(0, 0, 0, 0.03);font: 16px/16px Quicksand, Helvetica, Arial, sans-serif;padding: 10px 45px;border: 1px solid #eaeaea;color: #333;height: 38px;margin-top:20px;}
.stats table{margin:0;width:100%;padding:15px 20px 25px;font-size:14px;border-collapse:separate}
.stats table thead th{background:#cccccc;padding:10px;text-align:center;color:#000;font-family:QuicksandBold, Arial, sans-serif}
.stats table td{padding:10px;text-align:center}
.stats table tbody tr:nth-child(2n){background:#fff}
.stats table tfoot td{font-family:"QuicksandBold", "Open Sans Bold", sans-serif;background:#c4e5ff;color:rgba(0, 0, 0, 0.68)}
.stats table tfoot td.center a{float:none}
.stats table tfoot td.center a.all{text-decoration:none;background:#333;border-radius:5px;padding:2px 9px;margin:0 0 0 9px;font-size:12px;color:#FFF}
.stats table tfoot td.center a.all:hover{background:#666}
.stats table .left{text-align:left;padding-left:40px;width:100%}
.stats .navigation{margin:0 0 -25px;z-index:1}
.stats table td.user a{text-decoration:underline;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.stats table td.user.center a{float:none}
.stats table td.user .half:first-child a{float:right}
.stats table td.user .half:first-child{text-align:right}
.stats table td.user a.love, .stats table td.user span.disabled{text-decoration:none;background:#e2e2e2;border-radius:5px;padding:0 6px;margin:0 0 0 9px;font-size:12px}
.stats table td.user a.love:hover{background:#333;color:#FFF}
.stats table td.user span.disabled{background:#ff558f;color:#fff;float:left}
.stats table td.user a.love.done, .stats table td.user a.love.done:hover{background:#ff4081;color:#FFF}
.stats table td.user img.pic_small{width:20px;height:auto;display:inline-block;border-radius:50%;position:relative;top:2px;margin:0 4px 0}
.stats table td.user a.love, .stats table td a.date, .stats table td.user a.copy{text-decoration:none;background:#e2e2e2;border-radius:5px;padding:0 6px;margin:0 0 0 9px;font-size:12px}
.stats table td a.date{float:none;display:inline-block}

#tblPurchase{width: 100%;}
#tblPurchase thead tr{background: #cecece;}
#tblPurchase thead tr th{padding: 5px;text-align: center;}
#tblPurchase tbody tr{}
#tblPurchase tbody tr td{padding: 5px;text-align: center;}
